.upper {
  padding-top: 20px;
  padding-bottom: 20px;
}
.home:hover {
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(27, 3, 53, 0.699);
  color: white !important;

  border-radius: 5px;
}
.home {
  padding-left: 30px;
  padding-right: 30px;

  color: black;
}
